body {
	margin: 0 auto;
} 

.box {
    display: inline-block;
    margin: 10px;
    width: 200px;
    border: 1px solid #000;
    min-height: 100px;
    text-align: center;
    vertical-align: top;
    opacity: 0.7;
    header {
        display: block;
        border-bottom: 1px solid #000;
    }
}

.highlighted {
	background-color: lime;
}

.special-header {
	background: yellow;
}

.important {
	opacity: 1;
}